/vendor
/node_modules
.env
.env.*.php
.DS_Store
Homestead.json
Homestead.yaml
/build
npm-debug.log
yarn-error.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/public/*
/public/storage
*.log
.phpunit.result.cache
